.container {
    display: flex;
    height: 100vh; /* Full height */
  }
  
  .content {
    flex-grow: 1; /* Take remaining space */
    padding: 20px;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  